.header{
    text-align:center ;
    background-color:#008080;
    display: flexbox;
    justify-content:space-between;
}

.paragraph{
    text-align:center;
    display: flex;
    justify-content:space-between;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    border: 2px solid #000;
    border-radius: 50px;
}

.picture{
    border-radius: 20px;
    border: 2px solid #000;
    background-color: #fff;
    padding:30px;
    margin:25px;
    width:310px;
    font-family: fantasy;
}
.background{
    background-color: #008080;
}
